# Documentation
*.html linguist-documentation
docs/* linguist-documentation
docs/examples/* linguist-documentation
docs/md_v2/* linguist-documentation
# Explicitly mark Python as the main language
*.py linguist-detectable=true
*.py linguist-language=Python
# Exclude HTML from language statistics
*.html linguist-detectable=false
.local/126/chromedriver filter=lfs diff=lfs merge=lfs -text
crawl4ai/models/onnx/model.onnx filter=lfs diff=lfs merge=lfs -text
models/reuters/textcat_multilabel/model filter=lfs diff=lfs merge=lfs -text
